[Unit]
Description=ao-deamon
After=lnd.service

[Service]
ExecStart=/home/trhode/.nvm/versions/node/v9.11.2/bin/node /home/trhode/dctrl/ao/production/server/app.js
User=trhode
Restart=always
RestartSec=39
PrivateTmp=true

[Install]
WantedBy=multi-user.target
