[Unit]
Description=ao-deamon
After=lnd.service

[Service]
ExecStart=/home/dctrl/.nvm/versions/node/v9.11.2/bin/node /home/dctrl/ao/production/server/app.js
User=dctrl
Type=simple
Restart=always
RestartSec=39
PrivateTmp=true

[Install]
WantedBy=multi-user.target
