[Unit]
Description=bitcoin-deamon
After=network.target

[Service]
ExecStart=/home/dctrl/Downloads/bitcoin-0.16.1/bin/bitcoind
RuntimeDirectory=bitcoind
User=dctrl
Type=forking
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
