[Unit]
Description=bitcoin-deamon
After=network.target

[Service]
ExecStart=/usr/local/bin/bitcoind 
RuntimeDirectory=bitcoind
User=trhode
Type=forking
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
