[Unit]
Description=lightning-deamon
After=bitcoin.service

[Service]
ExecStart=/home/trhode/go/bin/lnd  
RuntimeDirectory=lnd
User=trhode
Type=forking
Restart=on-failure
PrivateTmp=true
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target

