darkerGrey = #090909
lightGrey = #dbd8d8
teal = #5eab98
orange = #f7a400
green = #4CAF50
darkteal = #1d5d63
purple = #c911e0
red = #BE3C38
white = #FFFFFF
white = #FFFFFF
grey = #494949

accent1 = white
accent2 = orange
accent3 = purple
accent4 = green
accent5 = red
accent6 = grey

main =  white
mainLight = teal
contentColour = accent3
mainDark = darkGrey

warning =  #800000
