[Unit]
Description=ao-deamon
After=network.target

[Service]
ExecStart=/home/trhode/.nvm/versions/node/v9.7.1/bin/node /home/trhode/dctrl/ao/production/server/app.js
User=trhode
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
